.page-content-container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100svh;
}

.page-content-left {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--primary-color);
}

.page-content-left>div {
    display: none;
}

.page-content-right {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    .page-content-left {
        width: 46vw;
        grid-column: 1 / 2;
        padding: 4rem;
        padding-top: 6rem;
    }

    .page-content-left>div {
        display: block;
    }
    
    .page-content-right {
        grid-column: 2 / 3;
    }
}

.stars-container {
    display: flex;
    gap: 0.5rem;
}

.stars-container .star-item {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
}

.stars-container .star-item.star-item-half {
    background-image: linear-gradient(to right, var(--green) 50%, var(--light-grey) 50%, var(--light-grey));
}

.stars-container .star-item img {
    width: 80%;
}

.main-content {
    flex: 1;
    background-color: white;
    border-radius: 20px 20px 0 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: var(--gap-1);
    align-items: center;
}

.header-container .header-home-link {
    display: none;
}

@media (min-width: 640px) {
    .header-container .header-home-link {
        display: flex;
    }
}

.header-left .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: orange;
}

.header-right {
    display: flex;
    gap: 0.5rem;
    align-self: center;
}

.main-content {
    padding-top: 8rem;
    padding-inline: var(--gap-1);
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 640px) {
    .main-content {
        padding-top: 12rem;
        padding-bottom: 2rem;
        padding-inline: 2rem;
    }
}

.form-container {
    max-width: 480px;
    margin: 0 auto;
}

.form-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    display: flex;
}
.form-title span {
    display: none;
}

@media (min-width: 640px) {
    .form-title span{
        display: block;
    }
}

.form-description {
    color: var(--primary-color);
    font-size: 0.8rem;
}

.form-container form>*+* {
    margin-top: 1rem;
}
/* input-text */
.input-item {
    display: flex;
    align-items: center;
}

.input-item input {
    border: 0;
    flex: 1;
    align-self: stretch;
    border-top: 2px solid var(--light-grey);
    border-right: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);
    border-radius: 0 0.5rem 0.5rem 0;
    padding-left: 0.5rem;
}

.input-item input:focus {
    outline: 2px solid #86b7fe;;
    border-radius: 0;
}

input.input-middle {
    border-right: 0;
    border-radius: 0;
}

.input-item .input-icon {
    --padding-gap: 0.8rem;
    display: flex;
    align-items: center;
    padding: var(--padding-gap);
    padding-right:0.3rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-top: 2px solid var(--light-grey);
    border-left: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);

}

.input-icon img {
    width: 1rem;
}


.input-icon.input-icon-last {
    padding-right:var(--padding-gap);
    border-radius: 0rem 0.5rem 0.5rem 0;
    border-top: 2px solid var(--light-grey);
    border-left: 0;
    border-right: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);
}


/* //input-text */

/* cursor */
.cursor-pointer {
    cursor: pointer;
}
/* //cursor */

/* text */

.white {
    color: white;
}

.text-center {
    text-align: center;
}

.text-5xl {
    font-size: 5rem;
}

.text-4xl {
    font-size: 4rem;
}

.text-3xl {
    font-size: 3rem;
}

.text-sm {
    font-size: 14px;
}

.text-xs {
    font-size: 12px;
}

.text-primary {
    color: var(--body-color);
}

.text-secondary {
    color: var(--secondary-color)
}

/* /text */

/* flex */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

/* /flex */

/* gap */
.gap-half {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

/* /gap */

/* margin */

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 24px;
}

.mt-10 {
    margin-top: 40px;
}
/* /margin */

/* padding */
.px-4 {
    padding-inline: 1rem;
}
/* /padding */

/* width */
.w-full {
    width: 100%;
}

.w-4 {
    width: 1rem;
}

.w-6 {
    width: 24px;
}

/* //width */

/* button */

.default-button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--light-grey);
    outline: 0;
    cursor: pointer;
    background-color: white;
}

.default-button,.icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.secondary-button {
    color: white;
    background-color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.button-icon {
    width: 0.8rem;
}
.button-icon img{
    width: 100%;
}
/* /button */


/* flow */
.flow-3>*+* {
    margin-top: 0.75rem;
}
.flow-4>*+* {
    margin-top: 1rem;
}
/* flow */